__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
downloads/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
env/
.env
.idea
.vscode
*.log
.DS_Store
*.part
video2.py
.playwright-mcp/



